


.layoutTop{
    .Polaris-Layout{
        background-color: lightsteelblue !important;
    }

    .Polaris-Heading{
        color: lightcoral !important;
    }
}

.layoutBottom{
    .Polaris-Layout{
        background-color: lightsalmon !important;
    }

    .Polaris-Heading{
        color: lightskyblue !important;
    }
}

